<h1 class="game-title "><%= @game.nickname ? "#{@game.nickname}" : "Game #{@game.id}"%></h1>

<%= form_for [@game, @hand] do |f| %>
	  <div class="input-group col-xs-10 col-sm-7 input-player">
  	<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
	  <%= f.text_field :score1, placeholder: "Player 1 Score", class: "form-control no-border-radius"  %>
  </div>

  <div class="input-group col-xs-10 col-sm-7 input-player">
  	<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
	  <%= f.text_field :score2, placeholder: "Player 2 Score", class: "form-control no-border-radius"  %>
  </div>


  <div class="input-group col-xs-10 col-sm-7 input-player">
  	<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
	  <%= f.text_field :score3, placeholder: "Player 3 Score", class: "form-control no-border-radius"  %>
  </div>

  <div class="input-group col-xs-10 col-sm-7 input-player">
  	<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
	  <%= f.text_field :score4, placeholder: "Player 4 Score", class: "form-control no-border-radius"  %>
  </div>
  
  <div class="input-group col-xs-10 col-sm-7 col-xs-offset-4 col-sm-offset-5">
	  <span class="input-group-btn">
	    <%= f.submit "Submit Hand", class: "btn btn-lg btn-success create-hand-button" %>
	  </span>
  </div>
<% end %>


<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
    	<tr>
    		<th>Hand #</th>
    		<th><%= @game.player1 ? "#{@game.player1}" : "Player 1" %></th>
    		<th><%= @game.player2 ? "#{@game.player2}" : "Player 2" %></th>
    		<th><%= @game.player3 ? "#{@game.player3}" : "Player 3" %></th>
    		<th><%= @game.player4 ? "#{@game.player4}" : "Player 4" %></th>
    	</tr>
    </thead>
    <tbody>
    	<% @hands.each do |hand| %>
    	  <tr>
          <td><%= "#{hand.id}" %></td>
          <td><%= "#{hand.score1}"%></td>
          <td><%= "#{hand.score2}"%></td>
          <td><%= "#{hand.score3}"%></td>
          <td><%= "#{hand.score4}"%></td>
    	  </tr>
    	<% end %>
    </tbody>
  </table>
</div>

<div class="table-responsive total-table">
  <table class="table table-bordered">
  	<caption class="total-title">Total Score</caption>
    <thead>
    	<tr>
    		<th><%= @game.player1 ? "#{@game.player1}" : "Player 1" %></th>
    		<th><%= @game.player2 ? "#{@game.player2}" : "Player 2" %></th>
    		<th><%= @game.player3 ? "#{@game.player3}" : "Player 3" %></th>
    		<th><%= @game.player4 ? "#{@game.player4}" : "Player 4" %></th>
    	</tr>
    </thead>
    <tbody>
    	<tr>
    		<th><%= @game.total_score(1) %></th>
    		<th><%= @game.total_score(2) %></th>
    		<th><%= @game.total_score(3) %></th>
    		<th><%= @game.total_score(4) %></th>
    	</tr>
    </tbody>
  </table>
</div>

<div class="input-group col-xs-10 col-sm-7 col-xs-offset-4 col-sm-offset-5">
  <%= button_tag "Toggle Total", class: "btn btn-lg btn-primary total-button" %>
</div>
