<h1 class="game-title "><%= @game.nickname ? "#{@game.nickname}" : "Game #{@game.id}"%></h1>

<%= form_for [@game, @hand] do |f| %>
	  <div class="input-group col-xs-10 col-sm-7 input-player">
  	<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
	  <%= f.number_field :score1, placeholder: "#{@game.player1} Score", min: 0, max: 13, step: 1, class: "form-control no-border-radius"  %>
  </div>

  <div class="input-group col-xs-10 col-sm-7 input-player">
  	<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
	  <%= f.number_field :score2, placeholder: "#{@game.player2} Score", min: 0, max: 13, step: 1, class: "form-control no-border-radius"  %>
  </div>


  <div class="input-group col-xs-10 col-sm-7 input-player">
  	<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
	  <%= f.number_field :score3, placeholder: "#{@game.player3} Score", min: 0, max: 13, step: 1, class: "form-control no-border-radius"  %>
  </div>

  <div class="input-group col-xs-10 col-sm-7 input-player">
  	<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
	  <%= f.number_field :score4, placeholder: "#{@game.player4} Score", min: 0, max: 13, step: 1, class: "form-control no-border-radius"  %>
  </div>
  
  <div class="input-group col-xs-10 col-sm-7 col-xs-offset-4 col-sm-offset-5">
	  <span class="input-group-btn">
	    <%= f.submit "Submit Hand", class: "btn btn-lg btn-success create-hand-button" %>
	  </span>
  </div>
<% end %>

<p>Click on hand # to edit it</p>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
    	<tr>
    		<th>Hand #</th>
    		<th><%= @game.player1 %></th>
    		<th><%= @game.player2 %></th>
    		<th><%= @game.player3 %></th>
    		<th><%= @game.player4 %></th>
    	</tr>
    </thead>
    <tbody>
    	<% @hands.each do |hand| %>
    	  <tr>
          <td><%= link_to "#{hand.id}", edit_game_hand_path(@game, hand) %></td>
          <td><%= "#{hand.score1}"%></td>
          <td><%= "#{hand.score2}"%></td>
          <td><%= "#{hand.score3}"%></td>
          <td><%= "#{hand.score4}"%></td>
    	  </tr>
    	<% end %>
    </tbody>
  </table>
</div>

<div class="table-responsive total-table">
  <table class="table table-bordered">
  	<caption class="total-title">Total Score</caption>
    <thead>
    	<tr>
    		<th><%= @game.player1 %></th>
    		<th><%= @game.player2 %></th>
    		<th><%= @game.player3 %></th>
    		<th><%= @game.player4 %></th>
    	</tr>
    </thead>
    <tbody>
    	<tr>
    		<th><%= @game.total_score(1) %></th>
    		<th><%= @game.total_score(2) %></th>
    		<th><%= @game.total_score(3) %></th>
    		<th><%= @game.total_score(4) %></th>
    	</tr>
    </tbody>
  </table>
</div>

<div class="input-group col-xs-10 col-sm-7 col-xs-offset-4 col-sm-offset-5">
  <%= button_tag "Toggle Total", class: "btn btn-lg btn-primary total-button" %>
</div>
